body{
  text-align: center;
  background-color: #eee;
}


.inputNote {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: x-auto;

}

.bg-blue{
   background: #00f;
   color:#fff;
}

.bg-white {
  background: #fff;
  color:#000;
}

.bg-red {
  background: #f00;
  color:#fff;
}

.bg-yellow {
  background: #f0e000;
  color:#000;
}

.note {

  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}



.textCrossLine {
  text-decoration: line-through;
}